DBWizard/src/conf/xml-resources/web-service-references/DeleteTableWebService/wsdl/localhost_8080/DBWizard/DeleteTableWebService.xsd_1.xsd

<?xml version='1.0' encoding='UTF-8'?><!-- Published by JAX-WS RI at http://jax-ws.dev.java.net. RI's version is JAX-WS RI 2.2-hudson-740-. --><xs:schema xmlns:tns="http://soapWebServices/" xmlns:xs="http://www.w3.org/2001/XMLSchema" version="1.0" targetNamespace="http://soapWebServices/">

<xs:element name="deleteUserTable" type="tns:deleteUserTable" />

<xs:element name="deleteUserTableResponse" type="tns:deleteUserTableResponse" />

<xs:complexType name="deleteUserTable">
<xs:sequence>
<xs:element name="username" type="xs:string" minOccurs="0" />
<xs:element name="tableName" type="xs:string" minOccurs="0" />
</xs:sequence>
</xs:complexType>

<xs:complexType name="deleteUserTableResponse">
<xs:sequence>
<xs:element name="return" type="xs:boolean" minOccurs="0" />
</xs:sequence>
</xs:complexType>
</xs:schema>